@charset "utf-8";

/*CodeMirror*/
.CodeMirror {
    font-family: monospace;
    min-height: 150px;
    color: #333
}

.CodeMirror-lines {
    padding: 4px 0
}

.CodeMirror pre {
    padding: 0 4px
}

.CodeMirror-scrollbar-filler,.CodeMirror-gutter-filler {
    background-color: white
}

.CodeMirror-gutters {
    border-right: 1px solid #ddd;
    background-color: #fdfdfd;
    white-space: nowrap
}

.CodeMirror-linenumber {
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    color: #999;
    white-space: nowrap
}

.CodeMirror-guttermarker {
    color: black
}

.CodeMirror-guttermarker-subtle {
    color: #999
}

.CodeMirror-cursor {
    border-left: 1px solid black;
    border-right: 0;
    width: 0
}

.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver
}

.cm-fat-cursor .CodeMirror-cursor {
    width: auto;
    border: 0!important;
    background: #7e7
}

.cm-fat-cursor div.CodeMirror-cursors {
    z-index: 1
}

.cm-animate-fat-cursor {
    width: auto;
    border: 0;
    -webkit-animation: blink 1.06s steps(1) infinite;
    -moz-animation: blink 1.06s steps(1) infinite;
    animation: blink 1.06s steps(1) infinite;
    background-color: #7e7
}

@-moz-keyframes blink {
    50% {
        background-color: transparent
    }
}

@-webkit-keyframes blink {
    50% {
        background-color: transparent
    }
}

@keyframes blink {
    50% {
        background-color: transparent
    }
}

.cm-tab {
    display: inline-block;
    text-decoration: inherit
}

.CodeMirror-rulers {
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    bottom: -20px;
    overflow: hidden
}

.CodeMirror-ruler {
    border-left: 1px solid #ccc;
    top: 0;
    bottom: 0;
    position: absolute
}

.cm-s-default .cm-header {
    color: blue
}

.cm-s-default .cm-quote {
    color: #090
}

.cm-negative {
    color: #d44
}

.cm-positive {
    color: #292
}

.cm-header,.cm-strong {
    font-weight: bold
}

.cm-em {
    font-style: italic
}

.cm-link {
    text-decoration: underline
}

.cm-strikethrough {
    text-decoration: line-through
}

.cm-s-default .cm-keyword {
    color: #708
}

.cm-s-default .cm-atom {
    color: #219
}

.cm-s-default .cm-number {
    color: #164
}

.cm-s-default .cm-def {
    color: #00f
}

.cm-s-default .cm-variable-2 {
    color: #05a
}

.cm-s-default .cm-variable-3 {
    color: #085
}

.cm-s-default .cm-comment {
    color: #a50
}

.cm-s-default .cm-string {
    color: #a11
}

.cm-s-default .cm-string-2 {
    color: #f50
}

.cm-s-default .cm-meta {
    color: #555
}

.cm-s-default .cm-qualifier {
    color: #555
}

.cm-s-default .cm-builtin {
    color: #30a
}

.cm-s-default .cm-bracket {
    color: #997
}

.cm-s-default .cm-tag {
    color: #170
}

.cm-s-default .cm-attribute {
    color: #00c
}

.cm-s-default .cm-hr {
    color: #999
}

.cm-s-default .cm-link {
    color: #00c
}

.cm-s-default .cm-error {
    color: #f00
}

.cm-invalidchar {
    color: #f00
}

.CodeMirror-composing {
    border-bottom: 2px solid
}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: #0f0
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: #f22
}

.CodeMirror-matchingtag {
    background: rgba(255,150,0,.3)
}

.CodeMirror-activeline-background {
    background: #e8f2ff
}

.CodeMirror {
    position: relative;
    overflow: hidden;
    background: #fff;
    border: 1px solid #eee
}

.CodeMirror-scroll {
    overflow: scroll!important;
    margin-bottom: -30px;
    margin-right: -30px;
    padding-bottom: 30px;
    height: 100%;
    outline: 0;
    position: relative
}

.CodeMirror-sizer {
    position: relative;
    border-right: 30px solid transparent
}

.CodeMirror-vscrollbar,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-gutter-filler {
    position: absolute;
    z-index: 6;
    display: none
}

.CodeMirror-vscrollbar {
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll
}

.CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: scroll
}

.CodeMirror-scrollbar-filler {
    right: 0;
    bottom: 0
}

.CodeMirror-gutter-filler {
    left: 0;
    bottom: 0
}

.CodeMirror-gutters {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    z-index: 3
}

.CodeMirror-gutter {
    white-space: normal;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: -30px;
    *zoom: 1;
    *display: inline
}

.CodeMirror-gutter-wrapper {
    position: absolute;
    z-index: 4;
    background: none!important;
    border: none!important
}

.CodeMirror-gutter-background {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 4
}

.CodeMirror-gutter-elt {
    position: absolute;
    cursor: default;
    z-index: 4
}

.CodeMirror-gutter-wrapper {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.CodeMirror-lines {
    cursor: text;
    min-height: 1px
}

.CodeMirror pre {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    background:rgba(51, 136, 253, 0.05);
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    white-space: pre;
    word-wrap: normal;
    line-height: inherit;
    color: inherit;
    z-index: 2;
    position: relative;
    overflow: visible;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none
}

.CodeMirror-wrap pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal
}

.CodeMirror-linebackground {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0
}

.CodeMirror-linewidget {
    position: relative;
    z-index: 2;
    overflow: auto
}

.CodeMirror-code {
    outline: 0
}

.CodeMirror-scroll,.CodeMirror-sizer,.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber {
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.CodeMirror-measure {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden
}

.CodeMirror-cursor {
    position: absolute;
    pointer-events: none
}

.CodeMirror-measure pre {
    position: static
}

div.CodeMirror-cursors {
    visibility: hidden;
    position: relative;
    z-index: 3
}

div.CodeMirror-dragcursors {
    visibility: visible
}

.CodeMirror-focused div.CodeMirror-cursors {
    visibility: visible
}

.CodeMirror-selected {
    background: #d9d9d9
}

.CodeMirror-focused .CodeMirror-selected {
    background: #d7d4f0
}

.CodeMirror-crosshair {
    cursor: crosshair
}

.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection {
    background: #d7d4f0
}

.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection {
    background: #d7d4f0
}

.cm-searching {
    background: #ffa;
    background: rgba(255,255,0,.4)
}

.CodeMirror span {
    *vertical-align: text-bottom
}

.cm-force-border {
    padding-right: .1px
}

@media print {
    .CodeMirror div.CodeMirror-cursors {
        visibility: hidden
    }
}

.cm-tab-wrap-hack:after {
    content: ''
}

span.CodeMirror-selectedtext {
    background: 0
}

.API-content{padding-top: 0px;}
.main-bd {
    padding: 20px 30px;
    text-align: left
}

.main-bd .tab_head {
    height: 50px;
    line-height: 50px;
    text-align: left;
    font-family: "微软雅黑";
    font-size: 24px;
    color: #252424;
    margin-top: 15px;
}
.main-bd .tab_head .rd {
    float: right;
    display: inline;
}
.main-bd .tab_head a {
}
.main-bd .tab_head a span{font-style: normal;}
.main-bd .form-line:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}
.table.api-table{}
.main-bd .form-line {
    line-height: 41px;
    padding-left: 48px;
    zoom: 1
}

.main-bd .form-line .form-tit {
    float: left;
    width: 120px;
    text-align: right
}

.main-bd .form-line .form-con {
    float: left;
    height: 41px;
    display: inline
}

.main-bd .form-line .form-con input {
    height: 38px;
    line-height: 28px;
    width: 340px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    color: #666;
    font-size: 14px;
    font-family: "微软雅黑"
}

.main-bd .do {
    text-align: center;
    padding: 15px 0;
    padding-left: 0
}

.main-bd .do a {
    width: 150px
}

.main-bd .do a h4 {
    width: 135px
}
.ctips {
    border: 1px #fdc4bd solid;
    font-size: 12px;
    width: auto;
    padding: 10px 30px 10px 40px;
    background: #fdf2f1 url(../../img/lamp.png) no-repeat 3px 2px;
    margin: 5px auto 5px;
    position: relative;
    text-shadow: 1px 1px 1px #fff
}

.ctips .close {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: 3px;
    right: 3px;
    display: block;
    cursor: pointer
}

.ctips .close:hover {
    color: #f60
}

.ctips p {
    line-height: 22px;
    text-align: left;
    margin: 0
}

.ctips span {
    color: #333;
    font-size: 12px;
    font-weight: bold
}

.ctips em {
    font-style: normal;
    color: #7d6464
}

.ctips em a {
    font-style: normal;
    color: #7d6464
}



input[type=submit], input[type=file], input[type=button], button[type=submit], button {

    transition-duration: .2s;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    padding: 0 10px;
    margin-left: 4px;
}
.CodeMirror table.table tbody{background: rgb(239, 239, 239);}

.envor-content .envor-widget.affix {
    position: fixed;
    top: 73px;
}

.envor-content .envor-widget.affix-bottom {
    position: absolute
}
.page-content {
    font-size: 14px;
    color: #4d4d4d;
    line-height: 2;
    position: relative;
}

.page-content img {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    max-width: 100%;
    height: auto;
    margin: 15px auto
}

.page-content a:not(.envor-btn) {
    color: #528bfc;
    text-decoration: none
}

.page-content a:not(.envor-btn):hover {
    color: #528bfc;
    text-decoration: underline
}

.page-content a.download_demo{color: #fff;
    background: #528bfc;}
.page-content a.download_demo:hover{color: #fff;text-decoration: none; background: #528bfc}
.tip_alert{}
.tip_alert .tip_message i.success{left: 45%;}
.tip_shade{right: 0; left: 0;}
.envor-content{}
.createKey .envor-section{min-height: 769px;}

#wrap {
    width: 100%;
    min-width: 1200px;
    background: #fdfdfd;
}

.envor-widget h3 {
    font-weight: lighter;
    margin-top: 0
}

.envor-widget-inner {
    width: 100%
}

.envor-content .envor-widget {
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    padding-top: 15px;
}

.envor-content .envor-widget h3 {
    text-transform: capitalize;
    margin-bottom: 20px
}

.envor-search-widget input[type=text] {
    width: 100%
}

.envor-widget-inner>ul>li>ul {
    display: none;
    transition-style: linear;
    transition-duration: 2.2s
}

.envor-widget-inner>ul>li.open>ul {
    display: block
}

.envor-widget-inner>ul>li>a {
    display: block;
    font-weight: bold;
    background-color: transparent!important
}

.envor-widget-inner>ul>li>a:after {
    display: none!important;
    position: relative;
    float: right;
    margin-top: 6px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    content: "\e117";
    color: #ddd
}

.envor-widget-inner>ul>li.open>a:after {
    content: "\e118";
    color: #528bfc;
}

.envor-footer .envor-widget {
    width: 100%;
    float: left
}

.envor-footer .envor-widget h3 {
    color: #fff;
    text-transform: capitalize;
    font-weight: lighter;
    margin-bottom: 30px;
    display: inline-block;
    width: auto;
    margin-top: 60px
}

.envor-footer .envor-widget a {
    color: #fff
}

.envor-widget .quick_newsletter {
    width: 100%;
    float: left;
    margin-top: 0!important
}

.envor-widget .quick_newsletter input {
    width: 100%;
    margin-bottom: 10px
}

.envor-widget .quick_newsletter input[type=button] {
    margin-bottom: 0;
    transition-style: linear;
    transition-duration: .2s
}

.envor-widget .quick_newsletter {
    width: 100%;
    float: left;
    margin-top: 30px
}

.envor-widget .quick_newsletter input {
    width: 100%;
    margin-bottom: 10px
}

.envor-widget .quick_newsletter input[type=button] {
    margin-bottom: 0
}

.envor-footer .envor-widget .envor-post-preview .header span {
    color: #fff
}

.envor-footer .envor-widget .envor-post-preview .header a {
    color: #fff
}

.envor-category-widget ul,.envor-category-widget ul li,.envor-category-widget ul li p,.envor-category-widget ul li small {
    width: 100%;
    float: left;
    margin-bottom: 0;
    padding: 0;
    margin: 0
}


.envor-category-widget ul li {
    border: 0 solid #e5e5e5;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 30px;
    font-size: 14px
}

.envor-category-widget ul li:last-child {
    border: 0
}

.envor-category-widget ul li small {
    font-style: italic;
    line-height: normal
}

.envor-category-widget ul li .glyphicon,.envor-category-widget ul li .fa {
    margin-right: 5px;
    float: right;
    margin-top: 5px;
    transition-style: linear;
    transition-duration: .2s
}

.envor-category-widget ul li a {
    background-color: transparent!important;
    text-transform: capitalize;
    margin-right: 10px;
    cursor: pointer;
    color: #333;
}

.envor-category-widget ul li a:hover,.envor-category-widget ul>li.active>a,.envor-category-widget ul>li>ul>li.active a,.envor-category-widget ul li a.active {
    background-color: transparent;
    text-decoration: none;
    color: #528bfc
}

.envor-category-widget ul li span {
    width: auto;
    float: right;
    border-radius: 100px;
    background-color: #e5e5e5;
    width: 20px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    transition-style: linear;
    transition-duration: .2s;
    font-size: 12px;
    display: none
}

.envor-category-widget ul li p span.hovered {
    color: #fff
}

.envor-category-widget ul li a .fa-rss {
    color: #ff8300
}

.envor-category-widget ul li a .fa-rss:hover {
    color: #333!important
}

.envor-category-widget ul :last-child {
    margin-bottom: 0
}

.envor-category-widget ul>li>ul>li {
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 30px;
    border: 0 dashed #e5e5e5;
}

.envor-category-widget ul {
    counter-reset: listlevel
}

.envor-category-widget ul li a:before {
    content: counters(listlevel,'-') '. ';
    counter-increment: listlevel;
    font-family: arial black
}


.envor-left-list { background: #fff; width: 230px; float: left; border-radius: 4px; overflow-y: auto; border: 1px solid rgba(0,0,0,0.09); }
.envor-right-con{ min-height: calc(100vh - 469px); width: calc(100% - 240px); float: left; margin-left: 6px; background: #fff;
    border: 1px solid rgba(0,0,0,0.09); border-radius: 4px; padding: 15px 20px; }
.page-left { }
.page-right { position: relative; }
.envor-content .envor-widget.affix, .envor-content .envor-widget.affix-bottom {
    background: #fff; width: 230px; float: left; border-radius: 4px; overflow-y: auto; border: 1px solid rgba(0,0,0,0.09);
}
table{border: 1px solid #ebedef;}
/* 秘钥设置 */
#api_info .form-con{
    font-size: 15px;
    padding: 15px 15px;
    margin: 10px auto;
    background-color: #e8f5f8;
    border: 1px #a8dbe6 solid;
}

.envor-left-list{
    opacity: 0;
}
